*{
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.container{
    height: 100%;
    width: 100%;
    background-image: url("https://www2.ifal.edu.br/campus/maceio/noticias/ifal-maceio-inicia-acesso-informatizado-de-alunos-ao-campus/site-artes-site-maceio-3.jpg/@@images/c1a288d0-7d27-41a2-a40d-04e057dae366.jpeg");
    background-position: center;
    background-size: cover;
    position: fixed;
}
.form-box{
    width: 380px;
    height: 800px;
    position: relative;
    margin: 6% auto;
    background:#fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #1e613246;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    border-radius: 30px;
    transition: .5s;
    
}
.input-group{
    margin-top: -50px;
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

#label{
    align-items: center;
}

.input-field{
    text-align: center;
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-buttons, p{
    display: flex;
    gap: 10%;
    margin-top: 20px;
    justify-content: center;
    align-self:baseline;
}

p, .select-serie{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    font-weight: bold;
    border: 0;
    outline: none;
    position: relative;
}

.submit-btn, .clear-btn{
    width: 100%;
    pad: 10px 30px;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    background: linear-gradient(to right, #d9ffec, #fcf2ea);
    border: 0;
    outline: none;
    border-radius: 30px;
}

#formulario-matricula{
    left:50px;
}
#infos-adicionais{
    margin-top: -90px;
    display: inline-flexbox;
    height: 50%;
    left: 450px;
}
.radio-field, .serie-field{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}

.box-field{
    margin-top: 15px;
    margin-left: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#check-box{
    margin-top: 20px;
}